@include font-face('SegoeUI', 'Segoeui-UI-Light', 300, normal);
@include font-face('SegoeUI', 'Segoe-UI-Regular', 400, normal);
@include font-face('SegoeUI', 'Segoe-UI-SemiBold', 600, normal);
@include font-face('SegoeUI', 'Segoe-UI-SemiBoldItalic', 600, Italic);
@include font-face('SegoeUI', 'Segoe-UI-Bold', 700, normal);
@include font-face('SegoeUI', 'Segoe-UI-Black', 800, normal);
@include font-face('Whitney', 'Whitney-Black', 800, normal);
