.section {
	padding: 50px 0;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 105px;
	padding-top: 85px;
	padding-left: 130px;
	max-width: 1060px;
	position: relative;

	&__background {
		width: 1680px;
		height: 415px;
		filter: saturate(0);
		position: absolute;
		clip-path: polygon(0 0, 95% 0, 90% 100%, 0% 100%);
		top: 0;
		left: -385px;
		z-index: -1;

		&::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			background-color: rgba(48, 53, 68, 0.67);
			clip-path: polygon(0 0, 95% 0, 90% 100%, 0% 100%);
			top: 0;
			left: 0;
			z-index: -1;
		}
	}

	&__title {
		margin: 0;
		margin-bottom: 40px;
	}

	&__text {
		margin: 0;
		margin-bottom: 50px;
		max-width: 930px;
		font-weight: 400;
		color: var(--light-color);
	}
}

.big-title {
	@include adaptive-font(64, 40);
	font-weight: 700;
	line-height: 91%;
	text-transform: uppercase;
	color: var(--light-color);

	&--color-blue {
		color: var(--blue-color);
	}

	@media screen and (min-width: 1560px) {
		font-size: 64px;
	}
}

.bg-title {
	clip-path: polygon(0 0, 100% 15%, 95% 100%, 0 85%);
	padding: 25px 75px 35px 30px;
	max-width: fit-content;
	background-color: var(--dark-color);

	@media (max-width: 450px) {
		padding: 25px 50px 35px 30px;
	}

	@media (max-width: 390px) {
		padding: 25px 25px 30px 10px;
	}

	@media (max-width: 350px) {
		clip-path: polygon(0 0, 100% 15%, 95% 100%, 0 95%);
		padding: 25px 15px 25px 10px;
	}
}

.link {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 25px 20px 65px;
	width: 100%;
	max-width: 300px;
	background-color: var(--dark-color);
	cursor: pointer;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;
		clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
		width: 100%;
		height: 100%;
		max-width: 215px;
		background-color: var(--blue-color);
		transition: max-width 0.4s;
	}

	&__text {
		position: relative;
		font-weight: 700;
		font-size: 16px;
		line-height: 81%;
	}

	&__icon {
		width: 24px;
		height: 15px;
	}

	&:hover {
		color: var(--light-color);

		&::before {
			max-width: 255px;
		}
	}

	&--link-small {
		padding: 20px;
		max-width: 215px;

		&::before {
			clip-path: polygon(0 0, 80% 0, 70% 100%, 0% 100%);
			max-width: 180px;
		}

		&:hover {
			&::before {
				max-width: 215px;
			}
		}
	}
}

.swiper {
	width: 1530px;
}

.swiper-pagination-bullet {
	margin: 0 !important;
	border-radius: 0 !important;
	width: 15px !important;
	height: 15px !important;
	background-color: var(--athens-gray-color) !important;
	opacity: 1 !important;
}

.swiper-pagination-bullet-active {
	background-color: var(--blue-color) !important;
}

.projects-slider-wrap {
	margin-bottom: 70px;
	height: 515px;
}

.swiper-projects {
	height: 470px;

	&__slide {
		width: fit-content !important;
	}

	&__pagination {
		display: flex;
		justify-content: flex-end;
		gap: 20px;
		position: relative;
		top: 6% !important;
	}
}

.clients-slider-wrap {
	position: relative;
}

.swiper-clients {
	height: 80px;

	&__slide {
		display: flex !important;
		align-items: center;
		width: fit-content !important;
	}
}

.slider-button {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 85px;
	background-color: var(--light-color);
	border: 1px solid rgba(48, 53, 68, 0.2);
	transition: background-color 0.4s;
	z-index: 1;
	cursor: pointer;

	&::after {
		display: none;
	}

	&:hover {
		background-color: var(--blue-color);
	}

	&:hover .slider-button__icon {
		fill: var(--light-color);
	}

	&--right {
		right: 0;
	}

	&__icon {
		width: 10px;
		height: 15px;
		fill: var(--dark-color);
		transition: fill 0.4s;
	}
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 50px 20px 20px;
	width: 100%;
	min-height: 400px;
	max-width: 290px;
	background-color: var(--mystic-color);

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__activity {
		margin-bottom: 30px;
		font-weight: 900;
		line-height: 89%;
		color: var(--gray-color);
	}

	&__title {
		@include adaptive-font(28, 20);
		margin: 0;
		font-weight: 700;
		font-size: 28px;
		line-height: 129%;
		text-transform: uppercase;

		@media screen and (min-width: 1560px) {
			font-size: 28px;
		}
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__date {
		max-width: 210px;
		font-weight: 350;
		font-size: 16px;
		line-height: 100%;
	}

	&__link {
		position: relative;
		right: -25px;
		top: 0;
		padding: 18px 33px;
		filter: drop-shadow(2px 2px 6px rgb(0 0 0 / 22%));

		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			z-index: 0;
			clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
			width: 75px;
			height: 60px;
			background-color: var(--blue-color);
		}
	}

	&__icon {
		position: relative;
		z-index: 1;
		width: 10px;
		height: 15px;
	}
}

.btn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 25px 20px 65px;
	width: 100%;
	max-width: 300px;
	background-color: var(--dark-color);
	transition: 0.4s;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;
		clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
		width: 100%;
		height: 100%;
		max-width: 215px;
		background-color: var(--blue-color);
		transition: max-width 0.4s;
	}

	&__text {
		position: relative;
		font-weight: 700;
		font-size: 16px;
		line-height: 81%;
		text-transform: uppercase;
	}

	&__icon {
		width: 24px;
		height: 15px;
	}

	&:hover {
		color: var(--light-color);

		&::before {
			max-width: 255px;
		}
	}
}
