// * Максимальная ширина макета
$container-width: 1560;

:root {
	// * Colors
	--dark-color: #303544;
	--light-color: #fff;
	--blue-color: #20b2aa;
	--mystic-color: #dce1ec;
	--gray-color: #7a7a7a;
	--athens-gray-color: #ebebed;
	--silver-chalice-color: #b0b0b0;
	--royal-blue: #2972e0;
}
