// * Максимальная ширина макета
$container-width: 1560;

:root {
	// * Colors
	--dark-color: #303544;
	--black-color: #000000;
	--light-color: #fff;
	--blue-color: #20b2aa;
	--mystic-color: #dce1ec;
	--gray-color: #7a7a7a;
	--athens-gray-color: #ebebed;
	--silver-chalice-color: #422626;
	--royal-blue: #2972e0;
	--whisper-color: #f6f6fa;
	--cadet-blue-color: #a2a8bd;
	--bright-gray-color: #3f4557;
	--alabaster-color: #f9f9f9;
	--concrete-color: #f3f3f3;
	--fiord-color: #454f72;
	--blue-haze-color: #bec5da;
}
