// * Global styles (Шрифты, переменные, сбросы)
@import 'libs/normalize';
@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'settings';
@import 'interface';

// * Libs styles
// @import "libs/animate";

// * Подключение стилей swiper-слайдера
@import 'libs/swiper-bundle.min';

// @import "components/sliders";

// * Main styles
@import '../components/header/header';
@import 'chunk/services';
@import 'chunk/projects';
@import 'chunk/advantages';
@import 'chunk/articles';
@import 'chunk/questions';
@import 'chunk/question';
@import '../components/spollers/spollers';
@import 'chunk/footer';
@import 'chunk/search-services-section';
@import 'chunk/information-search';
@import 'chunk/types-certification';
@import 'chunk/results-projects';
@import 'chunk/about-numbers';
@import 'chunk/contacts-data';
@import 'chunk/all-articles';
@import 'chunk/articles-news-subsection';
@import 'chunk/project-hero';
@import 'chunk/news-hero';
