.header {
	width: 100%;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		padding: 0 15px;
		min-height: 70px;
		max-width: $container-width + px;
	}

	&__logo {
		position: relative;
		z-index: 5;
		display: block;
		line-height: 0;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
	}

	&__messengers {
		position: relative;
		display: flex;
		justify-content: flex-end;
		padding: 20px 0;
		padding-left: 35px;
		width: 100%;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			width: 100vw;
			height: 56px;
			background-color: var(--dark-color);
		}

		@media screen and (max-width: 1440px) {
			padding: 10px 0;

			&::before {
				height: 36px;
			}
		}
	}

	&__links {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 300px;
	}

	&__messenger {
		@include adaptive-font(14, 12);
		display: flex;
		align-items: center;
		font-weight: 400;
		line-height: 107%;
		color: var(--cadet-blue-color);
		transition: color 0.4s;

		&:hover {
			color: var(--blue-color);
		}

		@media screen and (min-width: 1560px) {
			font-size: 14px;
		}
	}

	&__icon {
		margin-right: 5px;
		width: 16px;
		height: 16px;
	}

	&__menu {
		width: 100%;
	}

	&.fixed {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 10;
	}
}

.logo__background {
	position: absolute;
	left: -510px;
	top: -46px;
	z-index: -1;
	clip-path: polygon(0 0, 100% 0, 94% 100%, 0% 100%);
	width: 787px;
	height: 156px;
	background-color: var(--blue-color);

	@media screen and (max-width: 1440px) {
		left: -600px;
		top: -66px;
	}
}

.logo__img {
	width: 220px;
	height: auto;

	@media screen and (max-width: 1440px) {
		width: 150px;
	}
}

.menu-tabs {
	position: absolute;
  left: -40px;
	top: 75px;
	z-index: 2;
	display: flex;
	padding-top: 25px;
	width: 1530px;
	min-height: 530px;
	cursor: default;
	opacity: 0;
	transform: translateX(-192px);
 	transition: all 0.4s;
	cursor: default;
	pointer-events: none;

	@media screen and (max-width: 1559px) {
		width: 1400px;
		left: -50px;
	}

	@media screen and (max-width: 1440px) {
		width: 1170px;
		left: -130px;
	}

	@media screen and (max-width: 1200px) {
		width: 1000px;
		left: 40px;
	}

	@media screen and (max-width: 1024px) {
		width: 965px;
		left: 60px;
	}

	@media screen and (max-width: 991.98px) {
		display: none;
	}

	&__header {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-top: 30px;
		width: 100%;
		max-width: 360px;
		background-color: var(--dark-color);

		&-arrow {
			border: 6px solid transparent;
			border-left: 6px solid var(--light-color);
		}

		&-arrow {
			border: 6px solid transparent;
			border-left: 6px solid var(--light-color);
		}

		&-item {
			@include adaptive-font(24, 20);
			display: flex;
			align-items: center;
			padding-left: 30px;
			width: 100%;
			height: 65px;
			font-weight: 900;
			line-height: 92%;
			color: var(--light-color);
			transition: all 0.4s;
			cursor: pointer;
			gap: 20px;

			&:hover {
				color: var(--blue-color);
				background-color: var(--bright-gray-color);
			}

			&:hover .menu-tabs__header-arrow {
				border: 6px solid transparent;
				border-left: 6px solid var(--blue-color);
			}

			&.active {
				color: var(--blue-color);
				background-color: var(--bright-gray-color);

				.menu-tabs__header-arrow {
					border: 6px solid transparent;
					border-left: 6px solid var(--blue-color);
				}
			}

			@media screen and (max-width: 1560px) {
				font-size: 24px;
			}
		}

		&-text {
			margin: 0;
		}
	}

	&__content {
		display: flex;
		align-items: flex-start;
    padding: 40px 20px 35px 30px;
		justify-content: flex-start;
		width: 100%;
		color: var(--dark-color);
		background-color: var(--alabaster-color);

		&-item {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}

		&-wrap {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-right: 30px;
			max-width: 360px;

			&:last-child {
				margin-right: 0;
			}

			@media screen and (max-width: 1559px) {
				max-width: 310px;
			}

			@media screen and (max-width: 1440px) {
				max-width: 260px;
			}

			@media screen and (max-width: 1200px) {
				margin-right: 15px;
				max-width: 210px;
			}

			@media screen and (max-width: 1024px) {
				margin-right: 15px;
				max-width: 200px;
			}
		}

		&-inner {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 40px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-title {
			margin: 0;
			margin-bottom: 30px;
			font-weight: 900;
			font-size: 18px;
			line-height: 100%;
		}

		&-list {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		&-list-item {
			@include adaptive-font(14, 12);
			margin-bottom: 20px;
			line-height: 114%;

			&:last-child {
				margin-bottom: 0;
			}

			@media screen and (max-width: 1560px) {
				font-size: 14px;
			}
		}

		&-list-link {
			transition: color 0.4s;

			&:hover {
				color: var(--blue-color);
			}
		}
	}

	@media screen and (max-width: 1559px) {
		left: 7px;
		width: 1400px;
	}

	@media screen and (max-width: 1440px) {
		left: 60px;
		width: 1170px;
	}

	@media screen and (max-width: 1200px) {
		left: 60px;
		width: 1000px;
	}

	@media screen and (max-width: 1024px) {
		left: 60px;
		width: 965px;
	}

	@media screen and (max-width: 991.98px) {
		display: none;
	}
}

.menu {
	&__burger {
		display: none;
	}

	&__body {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 20px 0 25px 35px;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			border-top: 1px solid rgb(161 168 189 / 50%);
			width: 100vw;
		}
	}

	&__inner-link-phone {
		margin-right: 40px;
		filter: drop-shadow(2px 2px 6px rgb(0 0 0 / 22%));

		@media screen and (max-width: 1440px) {
			margin-right: 20px;
		}
	}

	&__icon {
		margin-right: 10px;
		width: 25px;
		height: 25px;
		fill: var(--light-color);
		transition: fill 0.4s;
	}

	&__link-phone {
		display: flex;
		align-items: center;
		clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
		padding: 15px 85px;
		font-weight: 700;
		font-size: 14px;
		line-height: 100%;
		text-align: center;
		text-transform: uppercase;
		color: var(--light-color);
		background-color: var(--blue-color);
		transition: color 0.4s;

		&:hover {
			color: var(--dark-color);
		}

		&:hover .menu__icon {
			fill: var(--dark-color);
		}

		@media screen and (max-width: 1440px) {
			clip-path: polygon(8% 0, 100% 0, 92% 100%, 0% 100%);
			padding: 15px 25px;
		}
	}

	&__list {
		margin-right: 50px;
		min-height: 55px;

		@media screen and (max-width: 1440px) {
			margin-right: 10px;
		}
	}

	&__link {
		@include adaptive-font(14, 12);
		font-weight: 700;
		line-height: 100%;
		text-transform: uppercase;
		color: var(--dark-color);
		transition: color 0.4s;

		@media screen and (min-width: 1560px) {
			font-size: 14px;
		}
	}

	&__arrow {
		border: 6px solid transparent;
		border-top: 6px solid var(--blue-color);
		transition: all 0.4s;
	}

	&__item {
		display: flex;
		align-items: center;
		margin-right: 60px;
		min-height: 55px;
		cursor: pointer;

		&:hover .menu__link {
			color: var(--blue-color);
		}

		&:last-child {
			margin: 0;
		}

		&--has-triangle {
			display: flex;
			justify-content: space-between;
			margin-right: 40px;

			&:hover .menu__arrow {
				border-top: 6px solid transparent;
				border-bottom: 6px solid var(--blue-color);
				transform: translateY(-50%);
			}

			&:hover .menu-tabs {
				opacity: 1;
				pointer-events: auto;
			}

			&:hover .menu__link {
				color: var(--blue-color);
			}

			@media screen and (max-width: 1559px) {
				margin-right: 25px;
			}

			@media screen and (max-width: 1440px) {
				margin-right: 10px;
			}
		}

		@media screen and (max-width: 1559px) {
			margin-right: 25px;
		}

		@media screen and (max-width: 1440px) {
			margin-right: 10px;
			max-width: 115px;
		}
	}

	&__search-icon {
		position: relative;
		z-index: 2;
		width: 17px;
		height: 17px;
		fill: var(--blue-color);
		transition: fill 0.4s;
	}

	&__search {
		position: relative;
		clip-path: polygon(20% 0, 100% 0, 100% 99%, 0% 100%);
		padding: 10px 15px 10px 25px;
		width: 60px;
		height: 40px;
		line-height: 0;

		&::after,
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			clip-path: polygon(20% 0, 100% 0, 100% 99%, 0% 100%);
			width: 60px;
			height: 40px;
			background-color: var(--blue-color);
			transition: background-color 0.4s;
		}

		&::before {
			left: 2px;
			top: 2px;
			z-index: 0;
			width: 56px;
			height: 36px;
			background-color: var(--light-color);
		}

		&:hover .menu__search-icon {
			fill: var(--dark-color);
		}

		&:hover {
			&::after {
				background-color: var(--dark-color);
			}
		}
	}
}

.menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	&__inner-burger {
		display: none;
	}

	&__body {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-right: 50px;
		padding: 20px 0px 25px 35px;
		position: relative;

		&::after {
			position: absolute;
			content: '';
			width: 100vw;
			border-top: 1px solid rgba(161, 168, 189, 0.5);
			bottom: 0;
			left: 0;
		}

		@media screen and (max-width: 1440px) {
			margin-right: 10px;
		}
	}

	&__inner-link-phone {
		margin-right: 40px;
		filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.22));

		@media screen and (max-width: 1440px) {
			margin-right: 20px;
		}
	}

	&__icon {
		margin-right: 10px;
		width: 25px;
		height: 25px;
		fill: var(--light-color);
		transition: fill 0.4s;
	}

	&__link-phone {
		display: flex;
		align-items: center;
		padding: 15px 85px;
		font-weight: 700;
		font-size: 16px;
		line-height: 100%;
		text-transform: uppercase;
		text-align: center;
		color: var(--light-color);
		background-color: var(--blue-color);
		clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
		transition: color 0.4s;

		&:hover {
			color: var(--dark-color);
		}

		&:hover .menu__icon {
			fill: var(--dark-color);
		}

		@media screen and (max-width: 1440px) {
			padding: 15px 25px;
			clip-path: polygon(8% 0, 100% 0, 92% 100%, 0% 100%);
		}
	}

	&__list {
		min-height: 55px;
	}

	&__link {
		@include adaptive-font(14, 12);
		font-weight: 700;
		line-height: 100%;
		color: var(--dark-color);
		text-transform: uppercase;
		transition: color 0.4s;

		@media screen and (min-width: 1560px) {
			font-size: 14px;
		}

		&--margin-right {
			margin-right: 10px;
		}
	}

	&__arrow {
		border: 6px solid transparent;
		border-top: 6px solid var(--blue-color);
		transition: all 0.4s;
	}

	&__item {
		display: flex;
		align-items: center;
		margin-right: 60px;
		min-height: 55px;
		cursor: pointer;

		&:last-child {
			margin: 0;
		}

		@media screen and (max-width: 1559px) {
			margin-right: 25px;
		}

		@media screen and (max-width: 1440px) {
			margin-right: 10px;
			max-width: 115px;
		}

		&--has-triangle {
			display: flex;
			justify-content: space-between;
			margin-right: 40px;

			&:hover .menu__arrow {
				border-top: 6px solid transparent;
				border-bottom: 6px solid var(--blue-color);
				transform: translateY(-50%);
			}

			&:hover .menu-tabs {
				opacity: 100%;
				pointer-events: auto;
			}

			@media screen and (max-width: 1559px) {
				margin-right: 25px;
			}

			@media screen and (max-width: 1440px) {
				margin-right: 10px;
			}
		}

		&:hover .menu__link {
			color: var(--blue-color);
		}
	}

	&__search-icon {
		width: 17px;
		height: 17px;
		fill: var(--blue-color);
		transition: fill 0.4s;
		position: relative;
		z-index: 2;
	}

	&__search {
		padding: 10px 15px 10px 25px;
		width: 60px;
		height: 40px;
		line-height: 0;
		clip-path: polygon(20% 0, 100% 0, 100% 99%, 0% 100%);
		position: relative;

		&:hover .menu__search-icon {
			fill: var(--dark-color);
		}

		&:hover {
			&::after {
				background-color: var(--dark-color);
			}
		}

		&::after,
		&::before {
			position: absolute;
			content: '';
			width: 60px;
			height: 40px;
			top: 0;
			left: 0;
			background-color: var(--blue-color);
			clip-path: polygon(20% 0, 100% 0, 100% 99%, 0% 100%);
			z-index: -1;
			transition: background-color 0.4s;
		}

		&::before {
			width: 56px;
			height: 36px;
			top: 2px;
			left: 2px;
			background-color: var(--light-color);
			z-index: 0;
		}
	}
}

@media (min-width: 991.98px) {
	.header__logo {
		&--hidden {
			display: none;
		}
	}

	.menu__list {
		display: flex;
		align-items: center;
	}

	.menu__inner-link-phone {
		&--hidden {
			display: none;
		}
	}
}

@media (max-width: 991.98px) {
	.header__container {

		height: fit-content;
	}

	.header__inner {
		align-items: center;
	}

	.header__messengers {
		&::before {
			left: -15px;
		}
	}

	.header__menu {

		margin-bottom: 15px;
		padding: 25px 0;
		justify-content: space-between;
	}

	.header__logo {
		display: none;

		&--hidden {
			display: flex;
		}
	}

	.logo__background {
		width: 160px;
		height: 95px;
		top: -26px;
		left: -15px;
		clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
	}

	.logo__img {
		width: 110px;
	}

	.menu__list {
		display: none;
	}

	.menu__inner-burger {
		display: flex;
		flex-direction: column;
		align-items: center;

		position: relative;
		z-index: 15;

		&.active {
			.menu__burger-text {
				color: var(--blue-color);
			}
		}
	}

	.menu__burger-text {
		margin-bottom: 10px;
		font-weight: 900;
		font-size: 14px;
		line-height: 61%;
		text-transform: uppercase;
		transition: color 0.4s;
	}

	.menu__burger {
		position: relative;
		display: block;
		width: 24px;
		height: 18px;
		cursor: pointer;
	}

	.burger {
		&__line,
		&::before,
		&::after {
			position: absolute;
			left: 0;
			width: 100%;
			height: 4px;
			background-color: var(--dark-color);
			transition: all 0.3s ease 0s;
			border-radius: 3px;
		}

		&::before,
		&::after {
			content: '';
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		& span {
			top: 50%;
			transform: scale(1) translate(0, -50%);
		}

		&.active span {
			transform: scale(0) translate(0, -50%);
		}

		&.active::before {
			top: 50%;
			transform: rotate(-45deg) translate(3%, -70%);
			background-color: var(--blue-color);
		}

		&.active::after {
			bottom: 50%;
			transform: rotate(45deg) translate(0, 50%);
			background-color: var(--blue-color);
		}
	}

	.menu__body {
		justify-content: flex-start;
		padding: 0;
		position: absolute;
		left: 0;
		top: 24%;
		z-index: 10;
		overflow: auto;
		width: 100%;
		opacity: 0;
		pointer-events: none;
		transition: all 0.4s ease 0s;

		&.active {
			opacity: 100%;
			pointer-events: auto;
		}

		// * Стили для плашки фиксированного меню (закомментировать если не нужна фиксипрованная шапка)

		// &::before{
		//   z-index: 15;
		//   content: "";
		//   position: fixed;
		//   width: 100%;
		//   top: 0;
		//   left: 0;
		//   height: 70px;
		//   background-color: #b4b4b4;
	}

	.menu__item {
		flex-wrap: wrap;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.menu__link {
		@include adaptive-font(20, 16);
	}

	.menu__inner-link-phone {
		display: none;

		&--hidden {
			display: inline-block;
			margin-right: 0;
		}
	}

	.menu__link-phone {
		padding: 15px 54px;
		width: 300px;
	}
}
