.about-numbers {
	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__cards {
		display: flex;
		align-items: center;
		margin-bottom: 100px;
		width: 100%;
	}

	&__card {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-right: 30px;
		width: 100%;
		max-width: 360px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__number {
		@include adaptive-font(120, 82);
		margin-bottom: 20px;
		font-weight: 900;
		line-height: 83%;
		color: var(--blue-color);

		@media screen and (min-width: 1560px) {
			font-size: 120px;
		}
	}

	&__name {
		@include adaptive-font(36, 20);
		margin-bottom: 20px;
		font-weight: 900;
		line-height: 63%;
		text-transform: uppercase;

		@media screen and (min-width: 1560px) {
			font-size: 36px;
		}
	}

	&__card-text {
		max-width: 250px;
		text-transform: uppercase;
	}

	&__text {
		margin: 0;
		margin-bottom: 95px;
		max-width: 880px;
		font-weight: 600;
	}

	&__workers {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		gap: 50px 30px;
	}

	&__worker {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		max-width: 360px;
	}

	&__img {
		margin-bottom: 20px;
		width: 100%;
		height: auto;
	}

	&__worker-name {
		@include adaptive-font(24, 18);
		margin-bottom: 10px;
		font-weight: 700;
		line-height: 100%;

		@media screen and (min-width: 1560px) {
			font-size: 24px;
		}
	}

	&__job-title {
		text-transform: uppercase;
	}
}
