.advantages {
	padding: 50px 0;

	&__title {
		@include adaptive-font(40, 22);
		margin-bottom: 50px;
		font-weight: 700;
		text-transform: uppercase;
		color: var(--light-color);

		&--color-blue {
			color: var(--blue-color);
		}

		@media (min-width: 1560px) {
			font-size: 40px;
		}

		@media (max-width: 660px) {
			margin-bottom: 30px;
		}
	}

	&__cards {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 80px;
		gap: 30px;

		@media (max-width: 1200px) {
			margin-bottom: 50px;
		}

		@media (max-width: 992px) {
			flex-wrap: wrap;
			justify-content: space-around;
			gap: 20px;
			margin-bottom: 40px;
		}
	}
}

.advantages-card {
	width: fit-content;

	&__title {
		@include adaptive-font(22, 16);
		margin: 0;
		margin-bottom: 30px;
		font-weight: 700;
		line-height: 118%;
		text-transform: uppercase;

		@media (min-width: 1560px) {
			font-size: 22px;
		}

		@media (max-width: 1400px) {
			margin-bottom: 15px;
		}

		@media (max-width: 576px) {
			margin-bottom: 10px;
		}
	}

	&__text {
		margin: 0;
		line-height: 133%;
		color: var(--gray-color);

		@media (min-width: 1560px) {
			font-size: 18px;
		}
	}

	@media (max-width: 992px) {
		max-width: 360px;
	}

	@media (max-width: 780px) {
		max-width: 300px;
	}

	@media (max-width: 660px) {
		max-width: none;
	}
}

.advantages-inner {
	max-width: 985px;

	&__text {
		margin: 0;
		margin-bottom: 50px;
		max-width: 880px;
		font-weight: 600;
		line-height: 133%;

		&:last-child {
			margin: 0;
		}

		@media (min-width: 1560px) {
			font-size: 18px;
		}

		@media (max-width: 1200px) {
			margin-bottom: 30px;
		}

		@media (max-width: 768px) {
			margin-bottom: 20px;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
		gap: 30px;

		@media (max-width: 1200px) {
			margin-bottom: 40px;
		}

		@media (max-width: 885px) {
			flex-wrap: wrap;
			gap: 20px;
		}

		@media (max-width: 768px) {
			margin-bottom: 30px;
		}
	}

	&__link {
		color: var(--royal-blue);

		&:hover {
			text-decoration: underline;
		}
	}

	&--text-small {
		@include adaptive-font(16, 12);
		margin: 0;
		max-width: 465px;
		font-weight: 600;
		font-style: italic;

		@media (min-width: 1560px) {
			font-size: 16px;
		}
	}
}
