.articles {
	&__cards {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 50px;
		max-width: 1530px;
		gap: 25px;
	}

	&__slider-wrap {
		margin-bottom: 35px;
	}
}

.articles-card {
	position: relative;
	display: flex;
	align-items: center;
	min-width: 750px;
	min-height: 320px;
	max-width: 750px;

	&__img {
		min-width: 490px;
		min-height: 320px;
		background-position: left center;
		background-size: 490px 320px;
		background-repeat: no-repeat;
	}

	&__wrap {
		position: absolute;
		right: 0;
		clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
		margin-left: auto;
		padding-left: 5px;
		max-width: 460px;
		background-color: var(--blue-color);
	}

	&__content {
		position: relative;
		clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
		margin-left: auto;
		border: 1px solid var(--silver-chalice-color);
		padding: 30px 35px 80px 95px;
		max-width: 455px;
		background-color: var(--light-color);
	}

	&__title {
		@include adaptive-font(20, 16);
		margin: 0;
		margin-bottom: 20px;
		font-weight: 700;
		line-height: 100%;

		@media (min-width: 1560px) {
			font-size: 20px;
		}
	}

	&__subtitle {
		@include adaptive-font(14, 12);
		margin: 0;
		margin-bottom: 20px;
		font-weight: 800;
		line-height: 100%;
		text-transform: uppercase;
		color: var(--blue-color);

		@media (min-width: 1560px) {
			font-size: 14px;
		}
	}

	&__text {
		@include adaptive-font(14, 14);
		margin: 0;
		line-height: 100%;
	}

	&__link {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}
