.articles {
	&__title {
		margin-bottom: 30px;
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 50px;
		max-width: 1530px;
		gap: 25px;
	}

	&__texts-slider-wrap {
		margin-bottom: 80px;

		@media screen and (max-width: 767.98px) {
			margin-bottom: 30px;
		}
	}

	&__slider-wrap {
		margin-bottom: 35px;
	}
}

.articles-card {
	position: relative;
	display: flex;
	align-items: center;
	min-width: 750px;
	min-height: 320px;
	max-width: 750px;

	&__img {
		min-width: 490px;
		min-height: 320px;
		background-position: left center;
		background-size: 490px 320px;
		background-repeat: no-repeat;

		&--small {
			min-width: 300px;
			min-height: 195px;
			background-repeat: no-repeat;

			@media (min-width: 577px) {
				display: none;
			}
		}

		@media (max-width: 690px) {
			max-height: 320px;
		}

		@media (max-width: 576px) {
			display: none;
		}
	}

	&__wrap {
		position: absolute;
		right: 0;
		clip-path: polygon(15% 0, 101% 0, 101% 101%, 0 101%);
		margin-left: auto;
		padding-left: 5px;
		max-width: 460px;
		background-color: var(--blue-color);

		@media (max-width: 690px) {
			left: 0;
			right: auto;
			bottom: 0;
			min-width: 490px;
			max-width: 490px;
		}

		@media (max-width: 576px) {
			clip-path: polygon(5% 0, 101% 0, 101% 101%, 1% 101%);
			min-width: 300px;
			max-width: 300px;
		}
	}

	&__content {
		position: relative;
		clip-path: polygon(15% 0, 101% 0, 101% 101%, 0 101%);
		margin-left: auto;
		border: 1px solid var(--silver-chalice-color);
		padding: 30px 35px 80px 95px;
		max-width: 455px;
		background-color: var(--light-color);

		@media (max-width: 690px) {
			max-width: 485px;
		}

		@media (max-width: 576px) {
			clip-path: polygon(5% 0, 101% 0, 101% 101%, 1% 101%);
			padding: 15px 15px 65px 25px;
		}
	}

	&__title {
		@include adaptive-font(20, 16);
		margin: 0;
		margin-bottom: 20px;
		font-weight: 700;
		line-height: 100%;

		@media (min-width: 1560px) {
			font-size: 20px;
		}
	}

	&__subtitle {
		@include adaptive-font(14, 12);
		margin: 0;
		margin-bottom: 20px;
		font-weight: 800;
		line-height: 100%;
		text-transform: uppercase;
		color: var(--blue-color);

		@media (min-width: 1560px) {
			font-size: 14px;
		}
	}

	&__text {
		@include adaptive-font(14, 14);
		margin: 0;
		line-height: 100%;
	}

	&__link {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	@media (max-width: 1555px) {
		&:nth-child(2n + 1) {
			margin-left: auto;
		}
	}

	@media (max-width: 780px) {
		min-width: 660px;
		max-width: 660px;
	}

	@media (max-width: 690px) {
		align-items: flex-start;
		min-width: 490px;
		min-height: 500px;
		max-width: 490px;
	}

	@media (max-width: 576px) {
		min-width: 300px;
		min-height: 395px;
		max-width: 300px;
		max-height: 395px;
	}
}
