.breadcrumbs {
	padding-top: 30px;

	&__list {
		display: flex;
		align-items: center;
		margin: 0 15px;
	}

	&__item {
		@include adaptive-font(16, 12);
		margin-right: 35px;
		line-height: 100%;
		color: var(--gray-color);
		position: relative;
		transition: color 0.4s;

		&:last-child {
			margin-right: 0;
			font-weight: 700;
			pointer-events: none;

			&:after {
				display: none;
			}
		}

		&::after {
			position: absolute;
			content: '';
			width: 6px;
			height: 10px;
			border: 6px solid transparent;
			border-left: 6px solid var(--gray-color);
			top: 50%;
			right: -28px;
			transform: translateY(-50%);
		}

		&:hover {
			color: var(--blue-color);
		}

		@media screen and (min-width: 1560px) {
			font-size: 16px;
		}
	}
}
