.news-hero {
	&__wrap {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;

		@media screen and (max-width: 768px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__inner {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-top: 95px;
		width: 100%;
		max-width: 1010px;
		min-height: 415px;

		&::before {
			position: absolute;
			content: '';
			width: 1525px;
			height: 415px;
			background-color: var(--dark-color);
			top: 0;
			right: 0;
			z-index: -1;
			clip-path: polygon(0 0, 100% 0, 96% 100%, 0% 100%);
		}

		@media screen and (max-width: 1440px) {
			max-width: 855px;
		}

		@media screen and (max-width: 1200px) {
			max-width: 465px;
		}

		@media screen and (max-width: 530px) {
			padding-top: 40px;
			max-width: 300px;
			min-height: 245px;

			&::before {
				height: 245px;
			}
		}
	}

	&__title {
		max-width: 400px;

		@media screen and (max-width: 530px) {
			max-width: 270px;
		}
	}

	&__text {
		margin: 0;
		max-width: 920px;
		color: var(--light-color);

		@media screen and (max-width: 1440px) {
			max-width: 800px;
		}

		@media screen and (max-width: 1200px) {
			max-width: 400px;
		}

		@media screen and (max-width: 530px) {
			max-width: 210px;
			height: 80px;
			line-height: 114%;
			overflow-y: auto;
		}
	}

	&__img {
		position: absolute;
		width: 1135px;
		height: 415px;
		background-repeat: no-repeat;
		background-position: center;
		top: 0;
		right: -1070px;
		z-index: -2;

		@media screen and (max-width: 768px) {
			display: none;
		}

		&--hidden {
			display: none;

			@media screen and (max-width: 768px) {
				display: flex;
				position: static;
				width: 100%;
				height: 285px;
				background-size: cover;
			}

			@media screen and (max-width: 576px) {
				height: 200px;
			}

			@media screen and (max-width: 425px) {
				height: 160px;
			}
		}
	}
}
