.portfolio-projects {
	&__slider-wrap {
		@media screen and (max-width: 768px) {
			display: none;
		}
	}

	&__cards {
		display: none;

		@media screen and (max-width: 768px) {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			margin-bottom: 30px;
			gap: 10px;
		}
	}

	&__card {
		padding: 20px 20px 30px;
		min-height: 290px;
		max-width: 250px;
	}

	&__card-title {
		@include adaptive-font(24, 20);
	}

	&__more-button {
		display: none;
		@media screen and (max-width: 768px) {
			display: flex;
		}
	}
}
