.project-hero {
	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__title {
		@include adaptive-font(62, 32);
		margin: 0;
		margin-bottom: 30px;
		font-weight: 700;
		line-height: 91%;
		text-transform: uppercase;

		@media screen and (min-width: 1560px) {
			font-size: 64px;
		}
	}

	&__title--blue-color {
		color: var(--blue-color);
	}

	&__links {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 70px;
		gap: 10px;
	}

	&__link {
		@include adaptive-font(16, 12);
		padding: 10px;
		max-width: 200px;
		font-family: Whitney, sans-serif;
		font-weight: 800;
		line-height: 100%;
		background-color: var(--blue-color);
		transition: all 0.4s;

		&:hover {
			background-color: var(--dark-color);
			color: var(--blue-color);
		}

		@media screen and (min-width: 1560px) {
			font-size: 16px;
		}
	}

	&__subtitle {
		@include adaptive-font(22, 18);
		margin: 0;
		margin-bottom: 30px;
		font-family: Whitney, sans-serif;
		font-weight: 800;
		line-height: 109%;

		@media screen and (min-width: 1560px) {
			font-size: 22px;
		}
	}

	&__texts {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 50px;
		max-width: 750px;
	}

	&__text {
		@include adaptive-font(18, 16);
		margin: 0;
		margin-bottom: 35px;
		font-family: Whitney, sans-serif;
		font-weight: 400;
		line-height: 133%;

		&:last-child {
			margin-bottom: 0;
		}

		@media screen and (min-width: 1560px) {
			font-size: 18px;
		}
	}

	&__inner {
		display: flex;
		align-items: flex-start;
		margin-bottom: 70px;
		width: 100%;
		max-width: 800px;
		position: relative;

		&::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			clip-path: polygon(0 0, 100% 0, 93% 100%, 0% 100%);
			background-color: var(--blue-color);
			top: 10px;
			left: 20px;
			z-index: -1;
		}
	}

	&__img {
		width: 100%;
		height: auto;
		clip-path: polygon(0 0, 100% 0, 93% 100%, 0% 100%);
	}

	&__client {
		@include adaptive-font(22, 16);
		margin: 0;
		max-width: 750px;
		font-family: Whitney, sans-serif;
		font-weight: 400;
		line-height: 109%;

		@media screen and (min-width: 1560px) {
			font-size: 22px;
		}
	}

	&__client--fatty {
		font-weight: 800;
	}
}
