.question {
	background-color: var(--dark-color);

	&__title {
		@include adaptive-font(24, 18);
		margin-bottom: 30px;
		line-height: 100%;

		&--flex {
			display: flex;

			@media screen and (max-width: 530px) {
				flex-direction: column;
			}
		}

		@media screen and (min-width: 1560px) {
			font-size: 24px;
		}
	}
}
